.head{background-color:#0088cc; padding: 6px; font-size: 12px; color:aliceblue; text-decoration: none;}
.logo{background-color:white; font-size: 30px; color:#0088cc;}
.menu{background-color:#0088cc; font-size: 13px; color:white; padding: 35px;
     font-family:Arial, Helvetica, sans-serif}
.body{background-color:white; font-size: 15px; color:  slategray; margin: 25px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif}
.one{background-color:white; font-size: 15px; margin: 25px; color: slategray;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
            
.two{background-color:white; font-size: 15px; margin: 25px; color: slategray;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
.bottom{background-color:#0088cc; font-size: 15px; color: azure; padding: 100px; margin: 0px;}
a{text-decoration: none;}